
#loginpage{
  overflow: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-image: url(/src/img/fondo2.jpg);
  min-height: 100vh;
}

@media (min-width: 1024px){
#loginpage{
    background-image: url(/src/img/fondo3.jpg);
  }
}